*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Source_Sans_Pro';
    src: url("../Fonts/fonting/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
    font-style: normal;
    font-weight: normal;
}
body {
    background-color: rgb(129, 129, 129);
    font-family: 'Source_Sans_Pro', sans-serif;
}
body a{
    text-decoration: none;
}
.navBar{
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 120px;
    width: 100%;
    top:0;
    position: fixed;
    transition: all .2s ease-in-out;
}

.navLinks{
    display: flex;
    left: 150px;
    list-style: none;
    padding: 20px 0px 20px 20px;
    margin-right: 10px;
}
.navLinks a{
    text-decoration: none;
    color: rgb(226,226,226);
    padding: 65px;
    font-size: 20px;
    text-transform: uppercase;
}
.navLinks a:hover{
    font-weight: bolder;
}
.stickie{
    background: hsl(0, 0% 100%/ 0.5);
    backdrop-filter: blur(3rem);
}

.log{
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px;
    color: rgb(226,226,226);
}
.mobileMenu{
    display: none;
}
.text-box h1{
    color: rgb(44, 44, 44);
    font-size: 55px;
    font-weight: bold;
}
.text-box h2{
    color: rgb(44, 44, 44);
    font-size: 28px;
}
.podnasl{
    color: rgb(44, 44, 44);
    font-weight: bold;
    font-size: 20px;
}

.text-box p{
    font-size: 20px;
    color: rgb(44, 44, 44);
}
.text-box ul{
    color: rgb(44, 44, 44);
    list-style-position: inside;
    list-style-type: disc;
    font-size: 20px;
    text-indent: 5px;
}
.image-box{
    background-image: url("../Images/6.1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 636px;
    margin: auto;
    margin-top: 30px;
}
.image-box1{
    background-image: url("../Images/6.2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 444px;
    margin: auto;
    transition: 1s ease-in;
}

.text-box{
    background: rgb(141, 141, 141);
    padding: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 140px;
    margin-bottom: 50px;
    box-shadow: 0 0 1em rgb(95, 95, 95);  
}
.text-box ul{
    color: rgb(44, 44, 44);
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
    text-indent: 5px;
}
.PN-buttons{
    display: inline-block;
    margin-left: 250px;
    margin-bottom: 50px;
}
.PN-buttons a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.join{
    position: fixed;
    background: #F29F05;
    width: 170px;
    height: 170px;
    line-height: 45px;
    bottom: 10%;
    right: 5%;
    border-radius: 50%;
    text-align: center;
    transform: translateX(150%);
    transition: .8s;
}
.join p{
    color: rgb(226,226,226);
    font-weight: bold;
    padding-top: 35%;
    font-size: 33px;
}
.join {
    animation: bounce 2s ease 2;
    animation-delay: 3s;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
@media (max-width: 700px){
    .stickie{
        background: none;
        backdrop-filter: none;
    }
    .text-box{
        margin-left: 50px;
        margin-right: 50px;
    }
    .PN-buttons{
        margin-left: 55px;
        margin-bottom: 50px;
    }
    .image-box{
        height: 200px;
        width: 424px;
    }
    .image-box1{
        height: 200px;
        width: 296px;
    }
    .navLinks{
        position: fixed;
        inset: 0 0 0 35%;
        z-index: 1000;
        gap: 30px;

        flex-direction: column;
        padding: 120px 20px;

        backdrop-filter: blur(1rem);

        transform: translateX(110%);
        transition: transform .5s ease-in;
    }
    .navLinks[data-visible="true"]{
        transform: translateX(10%);
    }
    .mobileMenu[aria-expanded="true"]{
        background: url("../Images/menuClose.png");
        background-size: 80%;
        background-repeat: no-repeat;
    }
    .mobileMenu{
        display: block;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
        background: url("../Images/icons8-menu.svg");
        background-size: 80%;
        background-repeat: no-repeat;
        border: 0;
        width: 45px;
        aspect-ratio: 1;
        top: 40px;
        right: 20px;
    }    
    .text-box h1{
        font-size: 40px;
    }
    .text-box h2{
        font-size: 20px;
    }
    .text-box h3, h4, h5, h6{
        font-size: 17px;
    }
    .text-box p{
        font-size: 15px;
    }
    .text-box ul{
        font-size: 15px;
    }
    .join{
        width: 100px;
        height: 100px;
        bottom: 10%;
        right: 3%;
    }
    .join p{
        padding-top: 25%;
        font-size: 22px;
    } 
}
@media (max-width: 600px){
    .image-box{
        height: 160px;
        width: 320px;
    }
}
@media (min-width:700px) and (max-width:800px){
    .navLinks{
        padding: 15px;
    }
    .navLinks a{
        padding: 10px;
    }
    .text-box{
        margin-left: 75px;
        margin-right: 75px;
    }
    .PN-buttons{
        margin-left: 85px;
        margin-bottom: 50px;
    }
    .image-box{
        height: 200px;
        width: 424px;
    }
    .image-box1{
        height: 200px;
        width: 296px;
    }
    .text-box h1{
        font-size: 40px;
    }
    .text-box h2{
        font-size: 20px;
    }
    .text-box h3, h4, h5, h6{
        font-size: 17px;
    }
    .text-box p{
        font-size: 15px;
    }
    .text-box ul{
        font-size: 15px;
    }
    .join{
        width: 140px;
        height: 140px;
        bottom: 10%;
        right: 3%;
    }
    .join p{
        padding-top: 32%;
        font-size: 28px;
    }
}
@media (min-width:800px) and (max-width:900px){
    .navLinks{
        padding: 17px;
    }
    .navLinks a{
        padding: 20px;
    }
    .text-box{
        margin-left: 100px;
        margin-right: 100px;
    }
    .PN-buttons{
        margin-left: 110px;
        margin-bottom: 50px;
    }
    .image-box{
        height: 200px;
        width: 424px;
    }
    .image-box1{
        height: 200px;
        width: 296px;
    }
    .text-box h1{
        font-size: 40px;
    }
    .text-box h2{
        font-size: 20px;
    }
    .text-box h3, h4, h5, h6{
        font-size: 17px;
    }
    .text-box p{
        font-size: 15px;
    }
    .text-box ul{
        font-size: 15px;
    }
    .join{
        width: 140px;
        height: 140px;
        bottom: 10%;
        right: 3%;
    }
    .join p{
        padding-top: 32%;
        font-size: 28px;
    }
}
@media (min-width:900px) and (max-width:1100px){
    .navLinks{
        padding: 20px;
    }
    .navLinks a{
        padding: 30px;
    }
    .text-box{
        margin-left: 115px;
        margin-right: 115px;
    }
    .PN-buttons{
        margin-left: 125px;
        margin-bottom: 50px;
    }
    .image-box{
        height: 250px;
        width: 530px;
    }
    .image-box1{
        height: 250px;
        width: 370px;
    }
    
}
@media (min-width:1100px) and (max-width:1300px){
    .navLinks{
        padding: 20px;
    }
    .navLinks a{
        padding: 45px;
    }
    .text-box{
        margin-left: 150px;
        margin-right: 150px;
    }
    .PN-buttons{
        margin-left: 160px;
        margin-bottom: 50px;
    }
}


.footer{
    background-color: rgb(44, 44, 44);
}
footer .copyright{
    display: flex;
    justify-content:center;
    align-items:center;
}
.copyright{
    background-color: rgb(24, 24, 24);
    color: rgb(226,226,226);
}

.copyright img{
    width: 13px;
    height: 13px;
}

footer .social .social-items img{
    width: 33px;
    height: 33px;
}

footer .social ul{
    display: flex;
    list-style: none;
    justify-content:center;
    align-items:center;
    padding-top: 40px;
}
footer .social ul li{
    padding-left: 10px;
    padding-right: 10px;
}

footer .quick-links ul{
    display: flex;
    list-style: none;
    justify-content:center;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 40px;
}
footer .quick-links ul li a{
    text-decoration: none;
    color: rgb(226,226,226);
}
footer .quick-links ul li{
    padding-left: 10px;
    padding-right: 10px;
}
footer .quick-links ul span {
    color:rgb(226,226,226);
}